<div style="margin:20px 60px;">
    <h4><%= @task.t_name %>　<a class="btn btn-success" style="color:white;">未終了</a></h4>
    <br>
    <table class="table">
        <tr>
            <td>開始日</td><td><%= @task.start_date %></td>
        </tr>
        <tr>
            <td>終了日</td><td><%= @task.end_date %></td>
        </tr>
        <tr>
            <td>担当者</td><td><%= @task.role %></td>
        </tr>
    </table>
    <a class="btn btn-warning">終了した</a>
    <br><br>
    <% if @task.parent_task_id == 0 then %>
        <h4>含まれる作業</h4>
        <div class="list-group">
            <% Task.where(:t_number => @task.t_number, :work_id => @task.work.id).each do |t_task| %>
                <% if t_task.parent_task_id == 0 then %>
                    <div class="list-group-item list-group-item-action active">
                        <a href="/tasks/<%= t_task.id %>" style="color:white;"><%= t_task.t_name %></a>
                    </div>
                <% else %>
                    <div class="list-group-item list-group-item-action">
                        <a href="/tasks/<%= t_task.id %>"><%= t_task.t_name %></a>
                    </div>     
                <% end %>           
            <% end %>
        </div>
        <br>
    <% end %>
    <a href="/works/<%= @task.work.w_url %>" class="btn btn-danger" style="margin-top:20px;">戻る</a>
</div>