<div class="row" style="margin:50px 30px 30px 30px;">
    <div class="col-sm-3">
        <h6><i class="fas fa-align-center" style="margin-bottom:24px;"></i>　テンプレート</h6>
        <ul class="nav flex-column nav-pills nav-stacked">
            <% @templates.each do |template| %>
                <% if template.te_work_names.split(",").include?(params["schedule-type"]) %>
                    <li class="nav-item"><a class="nav-link active" href="/templaes/<%= template.id %>"><%= template.te_name %></a></li>
                <% else %>
                    <li class="nav-item"><a class="nav-link" href="/templates/<%= template.id %>"><%= template.te_name %></a></li>
                <% end %>
            <% end %>
        </ul>
    </div>
    <div class="col-sm-9" style="padding-left:40px; padding-top:40px;background-color:white;max-height:530px;">
        <h3><i class="fas fa-asterisk"></i>　<%= @template_name %></h3>
        <br>
        <div class="row">
        <div class="col-sm-7">
            <img src="https://scheduletask.s3-ap-northeast-1.amazonaws.com/images/common/image<%= (rand(13)+1).to_s %>.png" width="90%">
        </div>
        <div class="col-sm-5" style="margin-left:-20px;">
            <div style="margin-top:70px;">
            <p style="margin-bottom:20px;font-size:21px;"><strong>開始する日を入力しましょう。<br><small>or 終了する日(条件分岐させる)</small></strong></p>
            <form action="/works/new" method="get">
                <label name="start-date" style="margin-bottom:20px;">開始日</label>
                <input type="date" name="start-date" class="form-control" value="<%= year_month_date(Time.now) %>">
                <input type="hidden" name="schedule-type" value="<%= @template_name %>">
                <br>
                <input type="submit" value="日程を決定する" style="color:white;" class="btn btn-warning"></a>
            </form>
            </div>
        </div>
    </div>
</div>