<div style="margin:20px 60px;">
    <h1>合宿の日程</h1>
    <hr>
    <div class="list-group">
        <% @tasks.each do |task| %>
            <% if task.parent_task_id == 0 then %>
                <div class="list-group-item list-group-item-action active">
                    <p><%= task.t_name %></p>
                    <small>
                     <%= task.role %>　　<input type="date" class="form-control" style="width:180px;display:inline;" value="<%= year_month_date(@today.prev_day(task.before_date)) %>">
                     から <input type="date" class="form-control" style="width:180px;display:inline;" value="<%= year_month_date(@today.prev_day(task.before_date).next_day(task.date_duration)) %>"> まで
                     </small>
                </div>
            <% else %>
                <div class="list-group-item list-group-item-action" style="margin-left:30px;">
                    <p style="width:200px"><%= task.t_name %></p>
                    <small><%= task.role %>　　<%= year_month_date(@today.prev_day(task.before_date)) %>
                    から <%= year_month_date(@today.prev_day(task.before_date).next_day(task.date_duration)) %> まで</small>
                </div>
            <% end %>
        <% end %>
    </div>
    <br>
    <div class="text-center">
        <a href="/works/qlZ2p5uPs2A" class="btn btn-success">登録する</a>
    </div>
</div>