<div style="margin:20px 60px;">
    <h1><%= @work.w_name %> のスケジュール</h1>
    <hr>
    <div class="row">
        <div class="col-sm-7">
            <h4><i class="fas fa-angle-double-right"></i>直近のタスク</h4>
            <br>
            <div class="list-group">
                <a href="/tasks/<%= @recent_task_top.id %>" style="color:white;">
                    <div class="list-group-item list-group-item-action active">
                        <%= @recent_task_top.t_name %>　　
                        <small><i class="fas fa-clock"></i>　<%= @recent_task_top.start_date %>まで</small>
                    </div>
                </a>
                <% @recent_tasks.each do |r_task| %>
                    <a href="/tasks/<%= r_task.id %>" class="list-group-item list-group-item-action">
                        <%= r_task.t_name %>
                        <br>
                        <small>
                        <i class="fas fa-user-circle"></i>　<%= r_task.role %>
                        <br>
                        <i class="fas fa-clock"></i>　<%= r_task.end_date %>まで
                        </small>
                        <span class="btn btn-<%= r_task.task_status[1] %>" style="color:white;float:right;"><%= r_task.task_status[0] %></span>
                    </a>
                <% end %>
            </div>
        </div>
        <div class="col-sm-5">
            <h3><i class="fas fa-angle-double-right"></i><%= @work.w_name %>の進捗</h3>
            <br>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="<%= @work.w_percent %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= @work.w_percent %>%;"></div>
                <span class="ml-1"><%= @work.w_percent %>%</span>
            </div>
            <br>
            <hr>
            <h3><i class="fas fa-angle-double-right"></i>明日期限のタスク</h3>
            <br>
            <% unless @late_tasks == [] then %>
                <div class="list-group">
                    <% @late_tasks.each do |l_task| %>
                        <a href="/tasks/<%= l_task.id %>" class="list-group-item list-group-item-action">
                        <%= l_task.t_name %> <small>締め切り <%= (l_task.end_date - Date.today).to_i %>日前</small>
                        <span class="btn btn-<%= l_task.task_status[1] %>" style="color:white;float:right;"><%= l_task.task_status[0] %></span>
                        </a>
                    <% end %>
                </div>
            <% else %>
                <p>明日期限のタスクはありません。</p>
            <% end %>
            <br>
            <hr>
            <h3><i class="fas fa-angle-double-right"></i>役割</h3>
            <br>
            <div class="list-group">
            <% @work.tasks.select(:role).distinct.each do |t_role| %>
                <div class="list-group-item list-group-item-action">
                    <i class="fas fa-user-circle"></i>　<%= t_role.role %><br>
                    <input type="text" class="form-control" style="width:120px;display:inline-block;" placeholder="名前を入力">
                    <input type="submit" class="btn btn-xs btn-success" value="送信する" style="display:inline-block;margin-left:10px;margin-bottom:5px;width:70px;padding-left:5px;">
                </div>
            <% end %>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="" style="margin-top:40px;">
        <h4><i class="fas fa-angle-double-right"></i>内容</h4>
        <br>
        <p>まだ情報が少ないため、表示できません。</p>
        <br>
    </div>
    <hr>
    <div style="margin-top:40px;">
        <div class="btn-group btn-group-justified" role="group" style="width:100%;margin-bottom:30px;">
            <% @work.tasks.where(:parent_task_id => 0).order(:t_number).each do |p_t| %>
                <a class="btn btn-info" href="javascript:change_calendar(<%= p_t.t_number %>)"><%= p_t.t_name %></a>
            <% end %>
        </div>
        <% @work.tasks.where(:parent_task_id => 0).each do |p_t| %>
            <% w_start_date = @work.tasks.find_by(:t_number => p_t.t_number, :parent_task_id => 0).start_date %>
            <% w_end_date = @work.tasks.find_by(:t_number => p_t.t_number, :parent_task_id => 0).end_date %>
            <% w_diff_date = ((w_end_date - w_start_date+2).to_i/4).ceil %>
            <% if p_t.t_number == 4 then %>
                <div id="calendar-<%= p_t.t_number %>" class="visible-calendar">
            <% else %>
                <div id="calendar-<%= p_t.t_number %>" style="display:none">
            <% end %>
                <h4>一部カレンダー　<%= w_start_date %>〜<%= w_end_date %></h4>
                <br>
                <table class="table table-borderless">
                    <thead>
                    <% if p_t.before_date != 0 then %>
                    <tr style='font-size:12px;'>
                        <td>タスク</td>
                        <td><%= "#{w_start_date.to_s} 〜 #{(w_start_date + w_diff_date).to_s}" %></td>
                        <td><%= "#{w_start_date + w_diff_date+1} から #{w_start_date + w_diff_date*2}" %></td>
                        <td><%= "#{w_start_date + w_diff_date*2+1} から #{w_start_date + w_diff_date*3}" %></td>
                        <td><%= "#{w_start_date + w_diff_date*3+1} から #{w_end_date}" %></td>
                    </tr>
                    <% else %>
                    <tr style='font-size:12px;'>
                        <td width="20%">タスク</td>
                        <td width="20%"></td>
                        <td width="40%"><%= "#{w_start_date.to_s} 当日" %></td>
                        <td width="20%"></td>
                    </tr>
                    <% end %>
                    </thead>
                    <% Task.where(:t_number => p_t.t_number, :work_id => @work.id).where.not(:parent_task_id => 0).each do |w_task| %>
                        <% if w_task.before_date != 0 then %>
                            <%= task_schedule_to_task_calendar(w_task, w_start_date, w_end_date, w_diff_date, true, false) %>
                        <% else %>
                            <%= task_schedule_to_task_calendar(w_task, w_start_date, w_end_date, w_diff_date, true, true) %>
                        <% end %>
                    <% end %>
                </table>
            </div>
        <% end %>
        <br>
    </div>

<script type="text/javascript">
    function change_calendar(number){
        var calendar_selector = "#calendar-"+number
        $('.visible-calendar').css("display", "none").removeClass('visible-calendar')
        $(calendar_selector).css("display", "block").addClass('visible-calendar')
    }
</script>

    <hr>
    <div>
        <h4><i class="fas fa-angle-double-right"></i>スケジュール</h4>
        <br>
        <table class="table">
            <% @persons.each do |person| %>
                <% p_tasks = person.tasks.pluck(:t_number).uniq %>
                <tr>
                    <td><%= person.p_name %>(<%= person.role %>)</td>
                    <% alert_array = ["danger", "primary", "warning", "success"]; %>
                    <% (1..4).each do |p_num| %>
                        <td>
                        <% if p_tasks.include?(p_num) %>
                            <div class="alert-<%= alert_array[p_num-1] %> text-center">
                                <a href="/tasks/<%= Task.find_by(:work_id => @work.id, :parent_task_id => 0, :t_number => p_num).id %>">
                                    <%= Task.find_by(:work_id => @work.id, :parent_task_id => 0, :t_number => p_num).t_name %>
                                    <br>
                                    <small><%= Task.find_by(:work_id => @work.id, :parent_task_id => 0, :t_number => p_num).end_date %>まで</small>
                                </a>
                            </div>
                        <% end %>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </table>
        <br>
        <h4><i class="fas fa-angle-double-right"></i>全タスク表</h4>
        <br>
        <div class="row">
        <% @tasks.each do |z_task| %>
            <% if z_task.parent_task_id == 0 %>
                <% if z_task.t_number != 1 %>
                    </div>
                <% end %>
                <div class="col-sm-6" style="margin-bottom:20px;">
                <div class="list-group">
                    <a href="/tasks/<%= z_task.id %>" class="list-group-item list-group-item-action active">
            <% else %>
                <a href="/tasks/<%= z_task.id %>" class="list-group-item list-group-item-action">
            <% end %>
                <%= z_task.t_name %>
                <br>
                <small>
                <i class="fas fa-user-circle"></i>　<%= z_task.role %>
                <br>
                <i class="fas fa-clock"></i>　<%= z_task.end_date %>まで
                </small>
                <br>
                <% if z_task.parent_task_id != 0 then %>
                <p><span class="btn btn-<%= z_task.task_status[1] %>" style="color:white;margin-top:-20px;float:right;"><%= z_task.task_status[0] %></span></p>
                <% end %>
            </a>
            <% if z_task.parent_task_id == 0 %>
                </div>
            <% end %>
        <% end %>
        </div>
    </div>
    <br>
</div>