<div class="row" style="margin:50px 30px 30px 30px;">
    <div class="col-sm-3">
        <ul class="nav flex-column nav-pills nav-stacked">
            <li class="nav-item"><a class="nav-link active" href="/roles/<%= current_role.id %>">マイページ</a></li>
            <li class="nav-item"><a class="nav-link" href="/works/new">「やらかし」を作成する</a></li>
            <li class="nav-item"><a class="nav-link" href="/templates">「やらかし」を探す</a></li>
        </ul>
    </div>
    <div class="col-sm-9" style="padding-left:40px;">
        <div class="">
            <div class="text-left"><h5><i class="fas fa-user-circle"></i>　個人プロジェクト</h5></div>
            <div class="row" style="margin-top:30px;margin-bottom:30px;">
                <% @works.each do |work| %>
                    <div class="col-sm-3">
                        <a href="/works/<%= work.w_url %>">
                        <div style="background-image: url('https://scheduletask.s3-ap-northeast-1.amazonaws.com/images/thumbnail/thumbnail<%= (rand(10)+1).to_s %>.png');width:90%;">
                            <p style="color:white;padding:10px 0 47% 10px;">
                                <strong><%= work.w_name %></strong>
                            </p>
                        </div>
                        </a>
                    </div>
                <% end %>
                <div class="col-sm-3">
                    <a href="/templates">
                    <div style="background-color:#afeeee;width:90%;">
                        <p style="color:white;padding:27% 10% 27% 5%;">
                            <small>「やらかし」を探す</small>
                        </p>
                    </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="/works/new">
                    <div style="background-color:#b0c4de;width:90%;">
                        <p style="color:white;padding:27% 10% 27% 5%;">
                            <small>新しいプロジェクト</small>
                        </p>
                    </div>
                    </a>
                </div>
            </div>
            <div class="text-left"><h5><i class="fas fa-align-left"></i>　個人プロジェクト</h5></div>
            <div class="row" style="margin-top:30px;margin-bottom:30px;">
                <!-- 取り組む最中のタスクも追加する -->
                <div class="col-sm-4" style="margin-bottom:30px;">
                    <div class="list-group">
                    <div class="list-group-item active">今日終わらせるタスク</div>
                    <!-- 暫定的に list-group を使う -->
                    <% if @today_tasks == [] then %>
                        <div class="list-group-item">タスクはありません。</div>
                    <% else %>
                        <div class="list-group">
                        <% @today_tasks[0..4].each do |t_task| %>
                            <a href="/tasks/<%= t_task.id %>" class="list-group-item">
                                <span class="btn btn-sm btn-info" style="margin-bottom:10px;"><%= t_task.work.w_name %></span>　<span class="btn btn-sm btn-<%= t_task.task_status[1] %>" style="color:white;float:right;"><%= t_task.task_status[0] %></span>
                                <br>
                                <span style="padding-top:10px;margin-left:10px;"><%= t_task.t_name %></span>
                            </a>
                        <% end %>
                        </div>
                    <% end %>
                    </div>
                </div>
                <div class="col-sm-4" style="margin-bottom:30px;">
                    <div class="list-group">
                    <div class="list-group-item active">明日終わらせるタスク</div>
                    <% if @tomorrow_tasks == [] then %>
                        <div class="list-group-item">タスクはありません。</div>
                    <% else %>
                        <% @tomorrow_tasks[0..4].each do |t_task| %>
                            <a href="/tasks/<%= t_task.id %>" class="list-group-item">
                                <span class="btn btn-sm btn-info" style="margin-bottom:10px;"><%= t_task.work.w_name %></span>　<span class="btn btn-sm btn-<%= t_task.task_status[1] %>" style="color:white;float:right;"><%= t_task.task_status[0] %></span>
                                <br>
                                <span style="padding-top:10px;margin-left:10px;"><%= t_task.t_name %></span>
                            </a>
                        <% end %>
                    <% end %>
                    </div>
                </div>
                <div class="col-sm-4" style="margin-bottom:30px;">
                    <div class="list-group">
                    <div class="list-group-item active">今週終わらせるタスク</div>
                    <% if @this_week_tasks == [] then %>
                        <div class="list-group-item">タスクはありません。</div>
                    <% else %>
                        <% @this_week_tasks[0..4].each do |t_task| %>
                            <a href="/tasks/<%= t_task.id %>" class="list-group-item">
                                <span class="btn btn-sm btn-info" style="margin-bottom:10px;"><%= t_task.work.w_name %></span>　<span class="btn btn-sm btn-<%= t_task.task_status[1] %>" style="color:white;float:right;"><%= t_task.task_status[0] %></span>
                                <br>
                                <span style="padding-top:10px;margin-left:10px;"><%= t_task.t_name %></span>
                            </a>
                        <% end %>
                    <% end %>
                    </div>
                </div>
                <div class="col-sm-4" style="margin-bottom:30px;">
                    <div class="list-group">
                    <div class="list-group-item active">今月終わらせるタスク</div>
                    <% if @this_month_tasks == [] then %>
                        <div class="list-group-item">タスクはありません。</div>
                    <% else %>
                        <% @this_month_tasks[0..4].each do |t_task| %>
                            <a href="/tasks/<%= t_task.id %>" class="list-group-item">
                                <span class="btn btn-sm btn-info" style="margin-bottom:10px;"><%= t_task.work.w_name %></span>　<span class="btn btn-sm btn-<%= t_task.task_status[1] %>" style="color:white;float:right;"><%= t_task.task_status[0] %></span>
                                <br>
                                <span style="padding-top:10px;margin-left:10px;"><%= t_task.t_name %></span>
                            </a>
                        <% end %>
                    <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>