$("#checklist_adding_btn").css({"display": "block", "width": "70px" });
$("#checklist-new-card").css({"display": "none"})
<% if @checklist != nil %>
    var checklist_show_update_html = '<div id="checklist-<%= @checklist.id %>" style="display: block;">\
    <p style="width:90%;margin-bottom:0px;" class="checklist-item" onclick="javascript:showUpdateChecklistForm(<%= @checklist.id %>)">\
        <input type="checkbox">　<%= @checklist.c_name %></p></div>';
    var checklist_form_update_html = '<div id="checklist-form-<%= @checklist.id %>" style="display: none;">\
    <form class="edit_checklist" id="edit_checklist_<%= @checklist.id %>" action="/checklists/<%= @checklist.id %>" accept-charset="UTF-8" data-remote="true" method="post">\
    <p onclick="javascript:unshowUpdateChecklistForm(<%= @checklist.id %>)" class="checklist-item"><input name="checklist[checked]" type="hidden" value="0"><input type="checkbox" value="1" name="checklist[checked]" id="checklist_checked">\
        <textarea class="form-control" style="width:70%;display:inline-block;vertical-align:middle;margin-left:10px;" name="checklist[c_name]" id="checklist_c_name"><%= @checklist.c_name %></textarea>\
        <br><input type="submit" name="commit" value="保存する" class="btn btn-sm btn-success" style="margin-top:7px;margin-left:30px;" data-disable-with="保存する">\
    </p></form></div>';
    $("#checklist-update-section").append(checklist_show_update_html + checklist_form_update_html);
<% end %>