<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#4682b4;color:white;">
  <h1>
    <% if role_signed_in? then %>
      <a class="navbar-brand" style="color:rgb(234, 234, 234,1);" href="/roles/<%= current_role.id %>">Taskuri（というドメイン名）</a>
    <% else %>
      <a class="navbar-brand" style="color:rgb(234, 234, 234,1);" href="/top">Taskuri（というドメイン名）</a>
    <% end %>
  </h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link" href="/templates_category">「やらかす」場面一覧</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/templates">「やらかす」カテゴリー一覧</a>
      </li>
      <% if current_role != nil then %>
        <li class="nav-item">
            <a class="nav-link" href="/works/<%= current_role.works.first.w_url %>"><%= current_role.works.first.w_name %></a>
            <a class="nav-link" href="/roles/<%= current_role.id %> %>">マイページ</a>
        </li>
      <% end %>
      <li class="nav-item">
        <% if role_signed_in? %>
          <%= link_to "ログアウト", destroy_role_session_path, :class => "nav-link", :style => "color:rgb(234, 234, 234,1);", method: :delete %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>